<!doctype html>
<html lang="en" ng-app="telegendaApp" ng-controller="ListingsCtrl">
<head>
  <meta charset="utf-8">
  <title>Telegenda</title>
  <link rel="stylesheet" href="www/css/bootstrap.min.css">
  <link rel="stylesheet" href="www/css/style.css">
  <script src="www/js/jquery-1.11.min.js"></script>
  <script src="www/js/angular.min.js"></script>
  <script src="www/js/angular-route.min.js"></script>
  <script src="www/js/app.js"></script>
  <script src="www/js/controller.js"></script>
  <script src="www/js/script.js"></script>
  <script src="www/js/angular-http-loader.min.js"></script>
</head>
<body>
	<div id="container">
	
		<div id="inputs">
			<label for="calendarList">Available Calendars</label>
			<select id="calendarList" ng-model="selectedCalendar"
							ng-options="calendar.summary for calendar in calendars">
			</select>
			<button type="button" ng-enable="showSaveButton" ng-click="createOrder()">Save Keyword</button>
			<br />
			<label for="keywordInput">Keyword</label>
			<input type="text" name="keyword" id="keywordInput" ng-model="keyword"></input>
			<button type="button" ng-click="findListings()">Search</button>
		</div>
		<div id="listings">
			<div ng-http-loader methods="['POST', 'GET']" title="Telegenda" template="www/loader.html"></div>
			<p id="searchSomething" ng-show="nothingSearched">
				Search for your favorite show!
			</p>
			<table>
				<tr ng-repeat="listing in listings | startFrom:currentPage*pageSize | limitTo:pageSize">
					<td>{{listing.title}}</td>
					<!-- <td>{{listing.copyText}}</td> -->
					<td>{{listing.episodeTitle}}</td>
					<td>{{listing.channel}}</td>
					<td>{{listing.startTime | date:'medium'}}</td>
					<!-- <td>{{listing.endTime}}</td> -->
					<td><button ng-click="addToCalendar(listing)">Add to calendar</button></td>			
				</tr>
			</table>
		</div>
		<div id="pagination" ng-hide="nothingSearched">
			<!-- <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> -->
			<button ng-disabled="listings.length == 0 || currentPage == 0" ng-click="currentPage=currentPage-1">
				Previous
			</button>
			{{currentPage+1}}/{{numberOfPages()}}
			<button ng-disabled="listings.length < 10 || (currentPage >= listings.length/pageSize - 1)" ng-click="currentPage=currentPage+1">
				Next
			</button>
		</div>
		<div id="manageKeywords">
			<label for="keywordList">Saved Keywords</label>
			<select id="keywordList" ng-model="selectedKeyword"
							ng-options="keyword.keywordName for keyword in keywords">
			</select>
			<button type="button" ng-click="deleteKeyword()">Delete Keyword</button>
		</div>
<!-- 		<div id="blacklist">
			<label for="blacklist">Blacklist</label>
			<select id="blacklist" ng-model="selectedBlacklistKeyword"
							ng-options="calendar.summary for calendar in calendars">
			</select>
			<button type="button" ng-click="deleteBlacklistKeyword()">Delete Blacklist Keyword</button>
		</div> -->
	</div>
</body>
</html>