html, body
{
  min-height: 100%;
}
body
{
  position: relative;
}
label, input, select
{
    display: inline-block;
    vertical-align: baseline;
    width: 200px;
}
td
{
	width: 195px;
}
#overlay
{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:white;
}
#container
{
	width:1000px;
}
#pagination
{
	text-align:center;
}
#listings
{
	text-align:center;
	width:975px;
	height:275px;
	display: inline-block;
}
#searchSomething
{
  display: inline-block;
  vertical-align: middle;
}
#inputs
{
	width:550px;
}
#loaderText
{
    display: inline-block;
    vertical-align: middle;
    padding: 150px 200px;
    position:relative;
    font-weight:bold;
}